.about__hero .container{
    margin-bottom: 168px;
    padding: 117px 85px;
    background-image: url("../images/about.img/about\ hero\ bgrimg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.about__heading{
    width: 188px;
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
}