.footer .container{
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 200px;
    padding: 20px 85px;
    background-color: #2C343E;
}
.cite__logo--footer{
    margin-right: 103px;
}
.nav__link--active{
    color: #FEFCF7;
}
.social{
    display: flex;
    list-style-type: none;
    margin-left: 370px;
}
.social__list {
   & + & {
    margin-left: 24px;
   }
}