.plan__works .container{
    margin-bottom: 60px;
    background-color: #2C343E;
    border-radius: 10px;
}

.plan__works__list{
    display: flex;
    justify-content: center;
    position: relative;
    list-style-type: none;
}
.plan__works__list::before{
 display: block;
 position: absolute;
width: 783px;
height: 3px;
top: 83px;
left: 145px;
border: 2px solid #FDD6BA;
content: "";
}

.plan__works__item{
    position: relative;
    margin: 20px;
    padding-top: 134px;
}
.plan__works__item::before{
position: absolute;
display: inline-block; 
z-index: 1; 
 width: 31px;
height: 31px;
top: 50px;
border: 2px solid #0E8784;
border-radius: 50%;
background-color: #2C343E;
content: "";
}

.plan__works__item + .plan__works__item{
    width: 285px;
    margin-left: 95px;
}

.plan__works__heading{
    display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 43px;
  padding: 0;
}

.works__heading__count{ 
    margin: 0;
margin-bottom: 38px;
padding: 0;
font-family: Fraunces 9pt;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 72px;
color: #FDD6BA;
}

.works__heading{
width: 255px;
margin: 0;
padding: 0;
padding-right: 50px;
font-family: Fraunces 9pt;
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 36px;
color: #FEFCF7;
}

.plan__works__paragraph{
width: 285px;
margin: 0;
padding: 0;
padding-bottom: 50px;
 font-family: Barlow;
font-style: normal;
font-weight: normal;
font-size: 16px;
color: #FEFCF7;
}

