.plan__hero .container{
    margin-bottom: 168px;
    padding: 117px 85px;
    background-image: url("../images/plan/plan.hero.bgr.png");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
    .plan__hero .container{
       background-image: url("../images/plan/plan.hero2x.png");
    }  
  
} 