.plan__hero .container{
    margin-bottom: 168px;
    padding: 117px 85px;
    background-image: url("../images/plan/plan.hero.bgr.png");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

