.types__cofe .container__smal{
    margin: 0 auto;
    margin-bottom: 200px;
    padding: 0;
    background-image: url("../images/coffe\ list\ bgimage.png");
    background-position: top;
    background-repeat: no-repeat;
}
.types__coffe__list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
}
/* hamasiga alohida bgr img bermadim voxt tejaw , blan url yozib berip ketadi */
.types__coffe__item{
    width: 255px;
    background-image: url("../images/gran\ espreso\ bgraund.png");
    background-position: center;
    background-size: 255px 193px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    padding-top: 350px;
}

.types__coffe_heading{ 
    width: 255px;
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
}
.types__coffe__paragraph{
    width: 255px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #333D4B;
}